{% extends 'base.html' %}
{% block content %}
<div class='container init-height'>
    <div class='center mt-3'>
        <h1>About Us</h1>
    </div>
    <div class="container just-cen">
        <div class="heading"><h4>Creators of this website:<h4</div>
            <ul class="aboutus-names">
                <li>Kateri Wang</li>
                <li>Maiko Chang</li>
                <li>John Gaughan</li>
                <li>Antonio Mora</li>
                <li>Shoha Tsuchida</li>
            </ul>
    </div>
</div>
{% endblock content %}