{% extends 'base.html' %}

{% block content %}
<div class='container init-height'>
    <div class='center mt-3'><h1>Contact Us</h1></div>
    <div class="contactus-container">
        <div class='container contactus-blocks'>
            <h3>Call Us</h3>
            <ul>
                <li class='mt-3'>Retail Store/Corporate - 877-723-3929</li>
                <li class='mt-3'>Grocery Delivery & Pickup - 877-505-4040</li>
                <li class='mt-3'>Media Inquiries - 208-395-4722</li>
                <li class='mt-3'>Accessibility Support - 877-635-4833 </li>
            </ul>
        </div>
        <div class='container contactus-blocks'>
            <h3>Contact Us By Mail</h3>
            <ul>
                <li class='mt-3'>Customer Support Center</li>
                <li class='mt-3'>M.S 10501 P.O Box 29093, Phoenix, AZ  85038</li>
                <li class='mt-3'>Media Inquiries</li>
                <li class='mt-3'>Public Affairs Department, 250 E. Parkcenter Blvd, Boise, ID 83706</li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}