<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="icon" type="image/png" href="./static/images/favicon.png">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/quicklinks.css">
    <link rel="stylesheet" href="../static/css/carousel.css">
    <link rel="stylesheet" href="../static/css/nav.css">
    <title>{{ title }}</title>
</head>
<body>

    {% include 'nav.html' %}
    {% block content %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong> 
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        

        {% endblock content %}
    </div>
    {% include 'footer.html' %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.min.js"></script>
<script>
        // smooth scrolling
    function scrollTo(selectors)
    {
        if(!$(selectors).length) return;
        var selector_top = $(selectors).offset().top - 0;
        $('html,body').animate({ scrollTop: selector_top }, 'slow');
    }    

    // do scroll and clear the hash tag    
    $(window).on('load', function(){          
        if( typeof(location.hash) !== 'undefined' && location.hash.length ) {
        scrollTo(location.hash);
        history.replaceState(null, null, location.pathname);                      
        }       
    });
</script>
</body>
</html>