<footer>
    <div class='footer-container'>
        <nav class='page-footer'>
            <div class="footer-links">
                <div class='dropdown-list'>
                    <label >Quick Links</label>
                    <ul class="footer-list">
                        <li><a href="{{ url_for('contactus') }}">Contact Us</a></li>
                        <li><a href="{{ url_for('faq') }}">FAQ</a></li>
                    </ul>
                    
                </div>
                <div class='dropdown-list'>
                    <label >Company Info</label>
                    <ul class="footer-list">
                        <li><a href="{{ url_for('aboutus') }}">About Us</a></li>
                        <li><a href="{{ url_for('careers') }}">Careers</a></li>
                        <li><a href="{{ url_for('foremployees') }}">For Employees</a></li>
                        <li><a href="https://www.kicks4kidsla.org/">Foundation</a></li>
                    </ul>
                    
                </div>
                <div class='dropdown-list'>
                    <label >Policy & Disclosusre</label>
                    <ul class="footer-list">
                        <li><a href="{{ url_for('termsofuse') }}">Terms of Use</a></li>
                        <li><a href="{{ url_for('privacypolicy') }}">Privacy Policy</a></li>
                        <li><a href="{{ url_for('legal') }}">Legal</a></li>
                        <li><a href="{{ url_for('sustainability') }}">Sustainability</a></li>
                    </ul>
                </div>
                <div class='dropdown-list'>
                    <label >Mobile</label>
                    <a class='mt-1' href="https://play.google.com/store">
                        <img class='mobile-app' src="https://cdn.getyourguide.com/tf/assets/static/badges/google-play-badge-en-us.svg" alt="Get it on Google Play">
                    </a>
                    <a class='mt-1' href="https://www.apple.com/app-store/">
                        <img class='mobile-app' src="https://cdn.getyourguide.com/tf/assets/static/badges/app-store-badge-en-us.svg" alt="Download on the App Store">
                    </a>
                </div>
                <div class='dropdown-list'>
                    <label >Ways You Can Pay</label>
                    <div class="pay-labels">
                        <div><img class='pay-label-img' src="https://cdn.getyourguide.com/tf/assets/static/payment-methods/paypal_border.svg" alt="paypal"></div>
                        <div><img class='pay-label-img' src="https://cdn.getyourguide.com/tf/assets/static/payment-methods/mastercard.svg" alt="mastercard"></div>
                        <div><img class='pay-label-img' src="https://cdn.getyourguide.com/tf/assets/static/payment-methods/visa.svg" alt="visa"></div>
                        <div><img class='pay-label-img' src="https://cdn.getyourguide.com/tf/assets/static/payment-methods/amex.svg" alt="amex"></div>
                        <div><img class='pay-label-img' src="https://cdn.getyourguide.com/tf/assets/static/payment-methods/discover.svg" alt="discover"></div>
                        <div><img class='pay-label-img' src="https://cdn.getyourguide.com/tf/assets/static/payment-methods/googlepay.svg" alt="google pay"></div>
                        <div><img class='pay-label-img' src="https://cdn.getyourguide.com/tf/assets/static/payment-methods/applepay.svg" alt="apple pay"></div>
                        <div><img class='pay-label-img' src="https://cdn.getyourguide.com/tf/assets/static/payment-methods/jcb.svg" alt="jcb"></div>

                    </div>
                </div>
                <div class='dropdown-list'>
                    <label >Work With Us</label>
                    <ul class="footer-list">
                        <li><a href="{{ url_for('affiliatepartner') }}">Affiliate Partner</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="socials">
            <div class='social-btn'>
                <a href="https://www.facebook.com/"><h1><i class="fab fa-facebook-f"></i></h1></a>
                <a href="https://www.twitter.com/"><h1><i class="fab fa-twitter"></i></h1></a>
                </div>
            <div class='social-btn'>
                <a href="https://www.instagram.com/"><h1><i class="fab fa-instagram"></i></h1></a>
                <a href="https://www.pinterest.com/"><h1><i class="fab fa-pinterest-p"></i></h1></a>
            </div>
            <div class='social-btn'>
                <a href="https://www.youtube.com/"><h1><i class="fab fa-youtube"></i></h1></a>
            </div>
        </div>
    </div>
</footer>