{% extends 'base.html' %}

{% block content %}

<!-- General container -->
<div class="container">
    <!-- Banner between nav bar and products -->
    <div class="class"> 
        <!-- text within banner -->
        <div class="text_header">
            <p>Text within banner below nav bar</p>
        </div>
    </div>
    <!-- Box for product "squares" -->
    <div class="class">
        {% for product in products %}
        <!-- product square -->
        <a href="{{ url_for('product_detail', product_id=product.id) }}">
            <img src='{{ product.image_url }}'>
        </a>
        <div class="class">
            <!-- product hover text -->
                {{ product.name }} -
                {{ product.description }}
        </div>
        {% endfor %}
    </div>
</div>
<br>
<br>
<br>


{% endblock content %}