{% extends 'base.html' %}

{% block content %}

<!-- General container -->
<div class="container">
    <!-- Banner between nav bar and products -->
    <div class="class"> 
        <!-- text within banner -->
        <div class="text_header">
            Text here.
        </div>
    </div>
    <!-- Box for product "squares" -->
    <div class="class">
        <!-- product square1 -->
        <div class="class">
            <!-- product hover text -->
            <p></p>
        </div>
        <!-- product square2 -->
        <div class="class">
            <!-- product hover text -->
        </div>
        <!-- product square3 -->
        <div class="class">
            <!-- product hover text -->
        </div>
    </div>
</div>
<br>
<br>
<br>


{% endblock content %}