{% extends 'base.html' %}

{% block content %}
<div class="gutter init-height">
  <div class="heading mt-3">
    <h4>My Account Info</h4>
  </div>
  <div class="container">
    <div class="container card input-form-box my-info">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">First Name: &nbsp {{ current_user.first_name }}</li>
        <li class="list-group-item">Last Name: &nbsp {{ current_user.last_name }}</li>
        <li class="list-group-item">Username: &nbsp {{ current_user.username }}</li>
        <li class="list-group-item">Email: &nbsp {{ current_user.email }}</li>
        <li class="list-group-item">Phone: &nbsp {{ current_user.phone }}</li>
      </ul>
    </div>
  </div>
</div>

{% endblock content %}